/* Nav.scss */
@import url(reset.css);

.tab_bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.4%;
    min-height: 54px;
    border-top: 1px solid #c1c1c1 ;
    background-color: #f7f7f7;
    ul{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    li{
        list-style: none;
        flex: 1;
        text-align: center;
        transition: transform 500ms linear 0s;
        i{
        display: block;
        font-size: 22px;
        }
    }
    li:hover{
        transform: scale(1.1);
    }
}
.tab_list{
    color: #c0c1c2;
    .active{
        color: #513736;
    }
}